@import "@style/index.scss";

.main {
    box-shadow: 0 2px 4px rgb(187 222 251 / 20%), 0 4px 5px rgb(187 222 251 / 14%), 0 1px 10px rgb(0 0 0 / 12%);
    background: #fff;
    z-index: 999;

    > .container {
        @include container(1100px);

        > nav {
            > .logo {
                display: flex;

                > a {
                    display: flex;
                    width: 120px;

                    > img {
                        width: 100%;
                    }
                }
            }

            padding: 10px 0px;
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: space-between;
        }
    }
}
